<div style="display: flex; background-color: #3F579F;">
    <h1 style="margin: auto; font-weight: bold; padding: 30px 30px 0px 30px; color:#fff;" align="center">Deploy a model in the cloud - P8</h1>
</div>
<div style="display: flex; background-color: #3F579F; margin: auto; padding: 5px 30px 0px 30px;" >
    <h3 style="width: 100%; text-align: center; float: left; font-size: 24px; color:#fff;" align="center">| Notebook - Proof of Concept |</h3>
</div>
<div style="display: flex; background-color: #3F579F; margin: auto; padding: 10px 30px 30px 30px;">
    <h4 style="width: 100%; text-align: center; float: left; font-size: 24px; color:#fff;" align="center">Data Scientist course - OpenClassrooms</h4>
</div>

In [12]:
import pyspark 
from pyspark.sql import SparkSession
import os

In [14]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.amazonaws:aws-java-sdk-pom:1.10.34,org.apache.hadoop:hadoop-aws:2.7.2 pyspark-shell'

In [15]:
spark = (SparkSession
         .builder.master('local[*]')
         .appName('P8')
         .config('spark.hadoop.fs.s3a.access.key', '<YOUR_ACC_KEY>')
         .config('spark.hadoop.fs.s3a.secret.key', '<YOUR_SEC_KEY>') 
         .config('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem') 
         .getOrCreate()
        )

<div style="background-color: #506AB9;" >
    <h2 style="margin: auto; padding: 20px; color:#fff; ">1. Libraries</h2>
</div>

In [1]:
import pandas as pd

# Connections to S3 AWS
import boto3

In [2]:
connexion = boto3.client('s3')

In [3]:
bucket = "oc-data-scientist"
subfolder = "oc-p7/datasets/finals_datasets"
data_key = "df_current_clients.csv"

In [4]:
conn = boto3.client('s3')

In [5]:
contents = conn.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']
for f in contents:
    print(f['Key'])

oc-p7/datasets/finals_datasets/
oc-p7/datasets/finals_datasets/df_clients_to_predict.csv
oc-p7/datasets/finals_datasets/df_clients_to_predict_20220221.csv
oc-p7/datasets/finals_datasets/df_clients_to_predict_feature_selected.csv
oc-p7/datasets/finals_datasets/df_current_clients.csv
oc-p7/datasets/finals_datasets/df_current_clients_feature_selected.csv

In [6]:
data_location = "s3://{}/{}/{}".format(bucket, subfolder, data_key)

In [7]:
df_current_clients = pd.read_csv(data_location)

In [8]:
df_current_clients.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,11559.247,219625.690,9251.775,53093.746,11559.247,219625.690,-49.0,-315.42105,-5993.0,19.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,64754.586,1618864.600,6662.970,560835.400,64754.586,1618864.600,-544.0,-1385.32000,-34633.0,25.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,7096.155,21288.465,5357.250,10573.965,7096.155,21288.465,-727.0,-761.66670,-2285.0,3.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,62947.090,1007153.440,2482.920,691786.900,62947.090,1007153.440,-12.0,-271.62500,-4346.0,16.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,12666.444,835985.300,0.180,22678.785,12214.061,806128.000,-14.0,-1032.24240,-68128.0,66.0

In [9]:
data_test_borrar = "s3://{}/{}/{}".format(bucket, subfolder, "sepuedeborrar.cvs")

In [10]:
df_current_clients.to_csv(data_test_borrar, index=False)